<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${courier.name}">Courier</title>
</head>
<body>
<div align="center">
    <h1 th:text="${courier.name}"></h1>
    <a th:href="@{new_transfer/{id}(id=${courier.id})}">Create New Transfer</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Time</th>
            <th:block th:each="map : ${products}">
                <th th:each="e : ${map}" , th:text="${e.key.name}"></th>
            </th:block>
            <th>Actions</th>
        </tr>
        </thead>
        <th:block th:each="map : ${products}">
            <tr th:each="transfer : ${listTransfer}">
                <td th:text="${transfer.time}"></td>
                <td th:each="e : ${map}" , th:text="${e.value}"></td>
            </tr>
        </th:block>
    </table>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th th:each="e : ${priceProducts}" , th:text="${e.key.name}"></th>
            <th>Actions</th>
        </tr>
        </thead>
            <tr >
                <td th:each="e : ${priceProducts}" , th:text="${e.value}"></td>
                <td>
                    <a th:href="@{prices_product/{id}(id=${courier.id})}">More</a>
                </td>
            </tr>
    </table>
</div>
</body>
</html>