<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Transfer</title>
</head>
<body>

<div align="center">
    <h1>Create New Transfer</h1>
    <h1 th:text="${courier.name}"></h1>
    <br/>

    <form action="#" th:action="@{/save_new_transfer}" th:object="${transfer}"
          method="post">


        <table border="0" cellpadding="10">
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
            </thead>



            <tr th:each="entry, stats : ${transferProducts}" th:with="quantity=${entry.value}">
                <td th:text="${entry.key.name}">product name</td>
            </tr>


                <tr>
                    <td colspan="2">
                        <button type="submit">Save</button>
                    </td>
                </tr>
        </table>
    </form>

    <form th:object="${transfer}">
        <input th:each="entry: ${transfer.products}" type="text" th:field="*{products['__${entry.key}__']}" />
    </form>
</div>
</body>
</html>