<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Price Product</title>
</head>
<body>
<div align="center">
    <h1>Edit Price Product</h1>
    <form form action="#" th:action="@{/courier_transfers/edit_price_of_product/{id}(id=${priceProduct.id})}"
          th:object="${priceProduct}" method="POST">
        <table>
            <tr>
                <td th:text="${priceProduct.product.name}">Courier ID</td>
            </tr>
            <tr>
                <td>Price Product</td>
                <td><input type="text" th:field="*{price}" name="price" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>

    </form>
</div>
</body>
</body>
</html>